language: cpp
dist: trusty
sudo: false

notifications:
    email: false

cache:
    - apt
    - ccache

addons:
    apt:
        packages:
            - qt5-default
            - libqt5opengl5-dev
            - zlib1g-dev
            - libosmesa6-dev
            - libssl-dev
            - libqwt-dev
            - libfreetype6-dev
            - libftgl-dev

env:
    global:
        - OMP_NUM_THREADS=4

before_install:
    - mkdir ../build
    - cd ../build

script:
    - cmake -D CMAKE_CXX_FLAGS="-std=c++11 -Wno-narrowing" -D CMAKE_BUILD_TYPE=Release -D WORKBENCH_MESA_DIR=/usr -D WORKBENCH_USE_QT5=TRUE ../workbench/src
    - make -j 4
    - ctest
